@media screen and (min-width: 1600px) {
  div.header .block-right .text {
    padding-left: 120px;
  }
  div.header .block-right .text .city {
    margin-top: 70px;
  }
}
@media screen and (max-width: 1440px) {
  div.header .block-left .text {
    width: 70%;
    padding-top: 120px;
    padding-right: 80px;
  }
  div.header .block-right .text {
    padding-top: 120px;
    padding-left: 120px;
  }
  /*	section.block13 .wrapper .photo-container{
		width: 440px;
	}
	section.block14 .wrapper .photo-container,
    section.block17 .wrapper .photo-container{
		width: 360px;
	}
	section.block15 .wrapper .photo-container{
		width: 420px;
	}
	section.block16 .wrapper .photo-container,
    section.block20 .wrapper .photo-container{
		width: 390px;
	}*/
  section.block13 .wrapper .photo-container,
  section.block14 .wrapper .photo-container,
  section.block15 .wrapper .photo-container,
  section.block17 .wrapper .photo-container,
  section.block16 .wrapper .photo-container,
  section.block20 .wrapper .photo-container {
    width: 390px;
  }
  div.header .block-right .text .city {
    margin-top: 60px;
  }
}
@media screen and (max-width: 1366px) {
  div.header .block-left .text {
    width: 70%;
    padding-right: 0px;
  }
  div.header .block-right .text {
    padding-top: 110px;
    padding-left: 80px;
  }
  div.header .block-left .text {
    background: url('../../bundles/integra/assets/Index/images/icons.png') left 0px no-repeat;
  }
  div.header .block-left .text ul li {
    margin-bottom: 10px;
  }
  section.block12 .wrapper .item {
    margin-bottom: 30px;
  }
  section.block12 .wrapper h3 {
    padding-bottom: 20px;
  }
  /*	section.block13 .wrapper .photo-container {
		width: 340px;
	}
	section.block14 .wrapper .photo-container{
		width: 290px;
	}
	section.block15 .wrapper .photo-container,
    section.block17 .wrapper .photo-container,
    section.block19 .wrapper .photo-container{
		width: 350px;
	}
    .about.dovlatov {
        padding-bottom: 50px;
    }
	section.block16 .wrapper .photo-container,
    section.block20 .wrapper .photo-container {
		width: 340px;
	}
    section.block18 .wrapper .photo-container {
        width: 420px;
    }*/
  section.block13 .wrapper .photo-container,
  section.block14 .wrapper .photo-container,
  section.block15 .wrapper .photo-container,
  section.block17 .wrapper .photo-container,
  section.block19 .wrapper .photo-container,
  section.block16 .wrapper .photo-container,
  section.block20 .wrapper .photo-container {
    width: 340px;
  }
  .about.safiullina {
    padding-bottom: 50px;
  }
  div.header .block-right .text .city {
    margin-top: 50px;
  }
}
@media screen and (max-width: 1280px) {
  div.header .block-left .text {
    width: 80%;
  }
  div.header .block-left .text ul li {
    margin-bottom: 30px;
  }
  section.block13 .wrapper .photo-container,
  section.block19 .wrapper .photo-container {
    width: 400px;
  }
  div.header .block-right .text .city {
    margin-top: 45px;
  }
  section.block18 .wrapper .photo-container {
    width: 450px;
  }
  .about.safiullina {
    padding-bottom: 50px;
  }
}
@media screen and (max-width: 1144px) {
  div.header .block-left .text {
    width: 80%;
    padding-right: 0px;
  }
  div.header .block-right .text .city {
    margin-top: 45px;
  }
}
@media screen and (max-width: 1024px) {
  div.header .block-left .text {
    width: 90%;
  }
  div.header .block-right .text .city {
    margin-top: 45px;
  }
}
@media screen and (max-height: 1024px) {
  div.header .block-left .text ul li {
    margin-bottom: 30px;
  }
  .header .icon-bottom {
    bottom: 5px;
  }
  div.header .block-right .text h5 {
    margin-left: -60px;
  }
  div.header .block-right .text .city {
    margin-top: 80px;
  }
}
@media screen and (max-height: 900px) {
  div.header .block-left .text {
    width: 70%;
    padding-top: 120px;
    padding-right: 80px;
  }
  div.header .block-right .text {
    padding-top: 120px;
    padding-left: 120px;
  }
  section.block13 .wrapper .photo-container {
    width: 440px;
  }
  section.block14 .wrapper .photo-container {
    width: 360px;
  }
  section.block15 .wrapper .photo-container {
    width: 420px;
  }
  section.block16 .wrapper .photo-container,
  section.block20 .wrapper .photo-container {
    width: 390px;
  }
  div.header .block-right .text .city {
    margin-top: 45px;
  }
}
@media screen and (max-height: 800px) {
  div.header .block-right .text h5 {
    padding-bottom: 15px;
  }
  div.header .block-left .text ul li {
    margin-bottom: 0px;
  }
  section.block12 .wrapper h3 {
    padding-bottom: 0;
  }
  section.block12 .wrapper .item {
    height: 200px;
    margin-bottom: 40px;
  }
  div.header .block-left .text {
    width: 60%;
    padding-right: 50px;
  }
  div.header .block-right .text {
    padding-top: 90px;
    padding-left: 110px;
  }
  div.header .block-left .text ul li {
    margin-bottom: 10px;
  }
  section.block12 .wrapper .item {
    margin-bottom: 30px;
  }
  section.block12 .wrapper h3 {
    padding-bottom: 20px;
  }
  section.block13 .wrapper .photo-container {
    width: 340px;
  }
  section.block14 .wrapper .photo-container {
    width: 290px;
  }
  section.block15 .wrapper .photo-container {
    width: 420px;
  }
  section.block16 .wrapper .photo-container,
  section.block20 .wrapper .photo-container {
    width: 390px;
  }
  div.header .block-right .text .city {
    margin-top: 50px;
  }
}
@media screen and (max-height: 760px) {
  div.header .block-left .text {
    padding-top: 75px;
    width: 70%;
    padding-right: 0px;
  }
  div.header .block-right .text {
    padding-top: 80px;
    padding-left: 110px;
  }
  div.header .block-right .text .icon {
    padding-top: 20px;
  }
  .header .icon-bottom {
    bottom: 0;
  }
  section.block12 .wrapper .item p.slogan {
    margin: 5px;
  }
  section.block12 .wrapper .item {
    margin-bottom: 15px;
    padding-bottom: 25px;
  }
  section.block12 .wrapper h3 {
    padding-top: 60px;
  }
  /*	section.block15 .wrapper .photo-container{
		width: 315px;
	}*/
  section.block15 .wrapper .photo-container,
  section.block16 .wrapper .photo-container,
  section.block17 .wrapper .photo-container,
  section.block18 .wrapper .photo-container,
  section.block19 .wrapper .photo-container,
  section.block20 .wrapper .photo-container {
    width: 320px;
  }
  div.header .block-right .text .icon {
    font-size: 38px;
  }
  div.header .block-left .text p {
    margin-top: 20px;
    margin-bottom: 20px;
  }
  /*div.icon {
		position: absolute;
		top: 0;
		left: -60px;
	}*/
  div.header .block-right .text .city {
    margin-top: 45px;
  }
}
