<section class="block6">
    <div class="wrapper with-icon">
        <div class="left">
            <h4>Если вы уже получаете реинтеграции, и они работают</h4>
            <p>Тогда вам кажется, что учиться тут нечему. Можно их просто слушать.</p>
            <p>Но реинтеграций в проектах и тренингах Константина Довлатова не так уж много, и доступ к ним ограничен.</p>
            <p>И если есть какая-то проблема, которую хочется решить прямо сейчас, проще за 5 минут сделать нужную реинтеграцию самому, чем искать её у К. Довлатова. К тому же, это намного дешевле – ничто не мешает вам проводить для себя реинтеграции хоть каждый день.</p>
            <p>К тому же, если вы научитесь проводить реинтеграции сами себе, то реинтеграции самого К. Довлатова будут давать вам гораздо больше пользы. Проверено на участниках первого тренинга по ДИ.</p>
        </div>
        <div class="clr"></div>
    </div>
    <div class="DI-1">
        <div class="wrapper">
            <h6>А научиться самостоятельно проводить реинтеграции вы можете на курсе «ДИ-1».</h6>
            <a href="#" class="btn ghost scroll-to" data-target=".block9">
                Узнать, что такое курс «ДИ-1»
            </a>
        </div>
    </div>
</section>