<section class="block8">
    <div class="wrapper">
        <h4>Но что если вы вообще не слушали реинтеграции?</h4>
        <p>Тогда у вас есть выбор.</p>
        <p>Вы можете получить доступ к реинтеграциям, попробовать их – и рано или поздно прийти к выводу, что нужно научиться проводить их для себя самостоятельно.</p>
        <p>А можете сразу пойти на курс «ДИ-1». И сэкономить время и деньги – потому как в открытом доступе реинтеграций нет.</p>
        <div class="icon">
            <a href="#" class="btn ghost scroll-to"  data-target=".block9">
                {% image '@IntegraBundle/Resources/public/assets/Index/images/icon-block8.png' %}
                    <img src="{{ asset_url }}" alt="Example" />
                {% endimage %}
            </a>
        </div>
    </div>
</section>