<section class="block18"> <!-- Эльмира -->
    <div class="wrapper">
        <div class="photo-container .elmira">
            {% image '@IntegraBundle/Resources/public/assets/Index/images/17-1.jpg' %}
                <img src="{{ asset_url }}" alt="Example" />
            {% endimage %}
        </div>
        <div class="about safiullina">
            <h3>Эльмира Довлатова (Сафиуллина)</h3>
            <ul class="biography circle-marked">
                <li>Кандидат наук</li>
                <li>Лицензированный тренер RPT</li>
                <li>Процессор по метафорическим картам</li>
                <li>Бизнес-тренер Выпускник Международной Академии Лидерства</li>
                <li>Сотренер Константина Довлатова</li>
                <li>Выпускник Школы Коучинга Константина Довлатова</li>
                <li>Сертифицированный преподаватель тренингов базового и продвинуто уровня по методике Theta Healing (тета-хилинг)</li>
                <li>В настоящий момент обучение: Системно–Интегративному Организационому коучингу в Открытом Практическом Университете Коучинга и Корпоративного обучения Ивана Рыбкина</li>
            </ul>
        </div>
        <div class="review">
            <i class="fa fa-quote-right"></i>
            <p class="marked">До сих пор чудно и удивительно, как несколько простых фраз признания заставляют твоё тело преображаться и изменяться</p>
            <p>В первый же день после занятия меня посетило осознание одной из моих проблем – это было похоже на потрясение…думала что голову разорвет, но после принятия этой ситуации, меня, что называется, отпустило.</p>
            <p>Я много читала и слышала о том, что важно уметь принимать и только на тренинге я начала осознавать и чувствовать что это такое!!! Я выражаю глубокую благодарность Эльмире за то, что она столько дней подряд дарила нам уникальные знания и опыт, тепло своей души.</p>
            <p class="author">Марина Тимофеева</p>
        </div>
        <div class="review">
            <i class="fa fa-quote-right"></i>
            <p class="marked">В первый же день после занятия меня посетило осознание одной из моих проблем – это было похоже на потрясение</p>
            <p>Для меня, как для человека с «нулевыми» знаниями, который не пробовал никакие практики, йогу, не обращался к психологам и психотерапевтам и тому подобное, до сих пор чудно и удивительно, как несколько простых фраз признания заставляют твоё тело преображаться и изменяться.</p>
            <p>Теперь по поводу своих результатов. Во-первых, у меня есть чёткое ощущение НАЛИЧИЯ моей границы, раньше не было даже намека на это. Второе, это появился некий стержень (не стальной конечно, по ощущениям из хорошей толстой проволоки). Есть понимание, что этот стержень это то, что поможет в случае, если кто-то покусится на моё пространство и достоинство. И третье, я осознала, что могу видеть и границу близких мне людей. 100% раньше этого не было!!!</p>
            <p>Например, раньше я тоже вторгалась в пространство моей дочери-подростка (наверное, по аналогии с мамой и мужем). Приспичило, например, мне пообщаться с ней, я заходила в её комнату и вот будьте добры, я пришла, давай общаться. А она не хочет сейчас. И меня цепляло. Как это, мы не виделись с ней целый день, и она мне не рада. Сейчас изменилось моё отношение, причём, изменилось как-то само, т.е. я не прилагала каких-то особых усилий, не включала дополнительное терпение. Теперь заходя в комнату, вижу, что именно сейчас она хочет слушать музыку. Возникает понимание её границ. Я ухожу из комнаты, совершенно не обижаясь, совершенно спокойно. И, что я заметила, теперь не я, а моя дочь ищет со мной общения!!! И больше «трётся» у моей комнаты…. Вот такие дела.</p>
            <p class="author">Елена</p>
        </div>
        <div class="review">
            <i class="fa fa-quote-right"></i>
            <p class="marked">За время тренинга мы не только познакомились с техникой, но и почувствовали себя профессионалами</p>
            <p>Я психолог, бизнес-тренер, сертифицированный Гештальт консультант, имею много часов личной терапии и не понаслышке знакома со многими направлениями и техниками в психологии и психотерапии.</p>
            <p>В Эльмиру мы «влюбились» после первой встречи, организованной в онлайн формате.</p>
            <p>Грамотная речь, широкий кругозор, глубина знаний в области физиологии и психологии, все это сразу развеяли наши сомнения. Она умеет простым языком говорить о сложных вещах, при этом имеет эмпатию и мощную интуицию.</p>
            <p>Эльмира четко структурирует материал во время обучения, приводит яркие примеры, вовремя вставляет анекдоты, что способствует более легкому усвоению материала. Умение держать внимание группы и формировать групповую динамику – это еще одна сильная сторона тренера.</p>
            <p>Шесть дней пролетели как одно мгновение, расставаться не хотелось, эмоции радости и ощущения полета переполняли всех участников! Ведь за время тренинга мы не только познакомились с техникой, но и почувствовали себя профессионалами. Я получила ответы практически на все свои вопросы, согласно запросу, с которыми пришла на тренинг. О результатах судить рановато, однако зрение улучшилось уже на 3й день работы в группе, хотя такого запроса у меня не было, это побочный эффект.</p>
            <p class="author">Анна Донская</p>
        </div>
        <div class="review">
            <i class="fa fa-quote-right"></i>
            <p class="marked">Появилось ощущение полной гармонии самим с собой</p>
            <p>Результат — появилось ощущение полной гармонии самим с собой. Состояние целостности, завершенности. Меня перестали волновать многие негативные раздражители. А сегодня я даже не могу вспомнить некоторые моменты, которые меня раздражали в последнее время.</p>
            <p>Как и у многих появились реальные знаки-подсказки-ответы на вопросы, которые появляются в ходе жизни. Пример: вопрос, который необходимо решить, возможно совместными усилиями с близким человеком и в последующий момент появляется человек впереди меня с надписью на майке — WE can do it (Мы с этим справимся). Результат уверенность в совместных усилиях!</p>
            <p class="author">Александр Фокин, Москва</p>
        </div>
    </div>

    <div class="schedule">
        <div class="wrapper link-block">
            <a href="#" class="btn toschedule scroll-to" data-target=".block16 .live">
                Перейти к расписанию тренингов
            </a>
        </div>
    </div>
</section>