<section class="block7">
    <div class="wrapper with-icon">
        <div class="left">
            <h4>А если реинтеграции не работают?</h4>
            <p>Но ведь ваши ресурсы, таланты и способности всё ещё с <br> вами. Просто что-то мешает им сразу проявиться в полную силу.</p>
            <p>И если регулярно слушать реинтеграции и тщательно  отслеживать все изменения в себе и своей жизни, вы  поймёте, что реинтеграции всё же работают. Но почему-то медленно.</p>
            <p>Это нормально – у каждого своя скорость. И чтобы её увеличить, нужно устранить препятствия, которые тормозят ваше развитие.</p>
            <p>С помощью реинтеграций можно и это сделать. Но К. Довлатов таких реинтеграций не даёт – потому что универсального решения тут нет. Каждый должен пройти свой собственный путь.</p>
        </div>
        <div class="clr"></div>
    </div>
    <div class="course-DI1">
        <div class="wrapper">
            <h6>Единственный способ подняться на этот уровень (и получить шанс пойти выше, к ещё большим возможностям) – пройти курс «ДИ-1»</h6>
            <a href="#" class="btn ghost scroll-to"  data-target=".block9">
                Узнать, что такое курс ДИ-1»
            </a>
        </div>
    </div>
</section>