<section class="block9">
    <div class="wrapper">
        <h2>Что такое курс «ДИ-1»</h2>
        <div class="left">
            <p>Это курс, на котором вы научитесь проводить реинтеграции для самого себя. Константин Довлатов провёл его только один раз и больше проводить не будет.</p>
            <p>Но он подготовил тренеров, которые могут научить вас проводить реинтеграции не хуже его самого. И для вас это отличный шанс. Потому что пока что стоимость услуг этих тренеров в разы ниже, чем у К. Довлатова. А качество такое же.</p>
        </div>
        <div class="right">
            <p>Почему так? Потому что эти люди не настолько известны и прямо сейчас не могут получать такие же гонорары. А вот способности у них такие же – за это К. Довлатов ручается, потому что лично знает и проверил каждого.</p>
            <p>Поэтому ловите момент: научитесь проводить для себя любые реинтеграции. Пока тренеры не набрали вес и не повысили ценники.</p>
        </div>
        <div class="clr"></div>
    </div>
</section>