<section class="block4">
    <div class="wrapper">
        <h3>Если научиться включать весь свой ресурс, пробуждать нужные способности в нужный момент, ваша жизнь кардинально изменится</h3>
        <p class="left">Например, вы хотите увеличить доход. И пока не видите для этого возможностей. Но включив нужную способность, вы такую возможность обнаруживаете. Находите интересную бизнес-идею, которую до сих пор не замечали.</p>
        <p class="right">Или развиваете в себе концентрацию, творческое мышление, поднимаете работоспособность – и зарабатываете повышение и увеличение зарплаты. Или в голове вдруг щёлкает и приходит идея, как заработать на своём хобби – даже если это вроде бы невозможно.</p>
        <p>И так в каждом аспекте вашей жизни. Представляете, какие возможности перед вами откроются? И для их появления и реализации у вас уже всё есть. Осталось вытащить это из подсознания и начать получать от него пользу.</p>
        <p>И именно для этого создана духовная интеграционика. В ней много инструментов для поиска и освобождения скрытых ресурсов. Но главный и самый сильный, доступный каждому – реинтеграция.</p>
        <p>Суть ДИ – это умение проводить реинтеграции для самого себя и других. Мягко перестраивать личность и жизнь в нужном направлении. Сначала – только свою. Затем – любую другую.</p>
    </div>
</section>