<section class="block1">
    <h2>Что означает «духовная интеграционика» (ДИ)?</h2>
    <div class="column-left"><span>Духовная</span> – потому что работает с тонкими (духовными) материями. За три дня вы научитесь быстро приобретать способности и возможности, которые открываются после десятилетий традиционного обучения и самопроработки.</div>
    <div class="column-right"><span>Интеграционика</span> – потому что помогает вам собрать себя в единое целое. Увидеть, принять и научиться использовать те свои качества и способности, которые вы раньше не замечали. Научиться включать мозг на 110% каждый раз, когда это нужно. И для этого духовная интеграционика объединяет самые сильные психотехники из различных школ и течений.</div>
    <div class="clr"></div>
</section>