<section class="block13"> <!-- Песков -->
    <div class="wrapper">
        <div class="photo-container">
            {% image '@IntegraBundle/Resources/public/assets/Index/images/photos/13.jpg' %}
                <img src="{{ asset_url }}" />
            {% endimage %}
        </div>
        <div class="about">
            <h3>Александр Песков</h3>
            <ul class="biography circle-marked">
                <li>Практикующий психолог, терапевт, коуч, тренер</li>
                <li>Организатор и основатель нескольких  бизнес проектов</li>
                <li>Выпускник РПТ 1-2-3, окончил ассистентские курсы духовной интеграционики</li>
                <li>Специализации – активация нестандартного мышления и расширение рамок, снятие барьеров на пути достижения цели</li>
                <li>Изменяет судьбу через работу с родовыми программами и архетипами</li>
                <li>Мягко и эффективно снимает подсознательные ограничения и фильтры. Помогает открыть новые возможности роста во всех сферах жизни – бизнес, отношения, поиск себя</li>
            </ul>
        </div>
        <div class="clr"></div>
        <div class="results">
            <h3>Результаты клиентов:</h3>
            <ul class="check-marked">
                <li>Анастасия пришла с повторяющимся сценарием развития и разрушения отношений. Сейчас в длительных позитивно развивающихся отношениях.</li>
                <li>Кира испытывала нелюбовь и раздражение по отношению к мужу. Сейчас они думают о втором ребёнке, наслаждаются гармонией и взаимными чувствами.</li>
                <li>Татьяна разочаровалась в жизни и не видела пути развития. После проработок открыла три новых бизнеса в сфере личностного развития.</li>
                <li>Елена долго не могла увеличить прибыльности бизнеса с 2 до 3 млн. руб./месяц. После проработки за 4 месяца довела прибыльность до 6 млн.</li>
                <li>Михаилу не удавалось начать отношения. Сейчас он переборол стеснительность, завёл счастливые отношения и ждёт первенца.</li>
                <li>Международной компании не удавалось наладить бизнес-процессы на местах. Сейчас их удалось упростить и повысить эффективность с 30% до 94.</li>
            </ul>
        </div>
    </div>
    <div class="schedule">
        <div class="wrapper link-block">
            <a href="#" class="btn toschedule scroll-to" data-target=".block16 .live">
                Перейти к расписанию тренингов
            </a>
        </div>
    </div>
</section>