<section class="block11">
    <div class="wrapper">
        <p>Для этого вам нужно научиться проводить реинтеграции самому себе.</p>
        <p>Тогда вы сможете целенаправленно, каждый день, делать именно те реинтеграции, которые необходимы вам в текущий момент. Закрывать самые животрепещущие проблемы и не ждать, когда выйдет подходящая реинтеграция.</p>
        <p>Научиться этому у самого Константина Довлатова уже нельзя. Но вы можете выбрать одного из тренеров, которых он подготовил – и за которых ручается.</p>
        <p>Плюс – вы сильно сэкономите, не потеряв в качестве. Но только сейчас и на ближайшем тренинге по ДИ. Чем позже, тем выше будут ценники – потому что вырастет уровень тренеров.</p>
    </div>
</section>