<section class="block19"> <!-- Алясова -->
    <div class="wrapper clr">
        <div class="photo-container">
            {% image '@IntegraBundle/Resources/public/assets/Index/images/photos/19-2.jpg' %}
                <img src="{{ asset_url }}" alt="Example" />
            {% endimage %}
        </div>
        <div class="about dovlatov">
            <h3>Марина Алясова</h3>
            <ul class="biography circle-marked">
                <li>Консультант</li>
                <li>Гранд-куратор ШК 5 потока</li>
                <li>Выпускница Авторской Школы Коучинга Константина Довлатова</li>
                <li>Выпускница Школы Коучинга (WORLD COUCH CLUB)</li>
                <li>Профессиональный коуч</li>
                <li>Процессор РПТ</li>
                <li>Процессор и тренер по метафорическим картам</li>
                <li>Процессор и тренер авторской методики Константина Довлатова Духовная Интеграционника</li>
                <li>НЛП-мастер</li>
                <li>Целитель по методу Живы Ключ Целителя</li>
                <li>Клиенты обретают истинных себя, налаживают отношения с детьми и своими партнерами, восстанавливают здоровье, улучшают бизнес</li>
            </ul>
        </div>
        <div class="review">
            <i class="fa fa-quote-right"></i>
            <p>Проблема: отношения с мужем</p>
            <p>Результат: Гармонично завершены отношения с супругом, разрешены ряд родовых задач, гармонизация отношений с детьми и родителями, обретение своей женской сути, чувственности и чувствительности, раскрытие своей женственности, счастливые новые отношения</p>
            <p class="author">Шабалина Людмила, бизнес-консультант, г. Тула</p>
        </div>
        <div class="review">
            <i class="fa fa-quote-right"></i>
            <p>Проблема: неудовлетворенность отношений с мамой</p>
            <p>Отзыв: Благодаря работе с Мариной я раскрыла в себе женственность, я увидела и услышала свое сердце и душу, я прошла по новому процесс перезачатия. Результаты превосходны! Я более уверена в себе, я более спокойна. Теперь я осознанно доверяю себе и Вселенной и осознанно живу с удовольствием и любовью. Думаю, такой тренинг как Духовная интеграционика без поддержки Марины не имел бы для меня такого колоссального значения! Благодаря Марине, я ЗНАЮ - я на правильном пути и продолжаю совершенствоваться. С любовью и принятием.</p>
            <p class="author">Екатерина Шебанина, мама троих детей, г. Тула</p>
        </div>
        <div class="review">
            <i class="fa fa-quote-right"></i>
            <p>Проблемы: с построением собственного бизнеса, сложные отношения с родителями, финансами</p>
            <p>Отзыв: На днях проходил коуч сесиию.
                Мой уже практически семейный коуч Марина Алясова в очередной раз подставила плечо :)
                Я пришёл на эту встречу с запросом: "Почему деньги приходят в мою жизнь сложно?"
                Вопрос заковыристый и уже длительное время не давал мне покоя: то одно не складывается, то другое.
                Сделки не доходят до завершения, разваливаются и большие и маленькие.
                Как будто стоит плотина и сдерживает поток денег в мою жизнь.
                С помощью мудрых вопросов Марины Я САМ пришёл ко многим выводам и наметил план действий по исправлению критической ситуации.
                Я нашёл источник мыслей, где я недооценивал сам себя и поэтому понял, что глупо было ожидать высокой оценки от других людей.
                Марина также дала мне несколько инструментов для проработки, планирования жизни.
                СПАСИБО!!! Марина, я ценю каждую нашу встречу.
                Для меня это не просто болтовня для галочки, а реально помощь в разрешении сложных жизненных ситуаций!</p>
            <p class="author">Владимир Берлизов, финансовый консультант, кредитный брокер</p>
        </div>
        <div class="review">
            <i class="fa fa-quote-right"></i>
            <p>Проблема: в отношениях с мамой</p>
            <p>Отзыв: О Марине я услышала от человека, мнению которого доверяю, а т.к. я с некоторыми своими проблемами справится самостоятельно не могла, а усталость и раздражение продолжали накапливаться, то я решила обратиться за помощью к Марине.
                Марина помогла мне лучше понять саму себя, истоки и последствия своих мыслей и действий, научила "якорить" внутреннее состояние, в котором я могу черпать энергию и силу, чтобы подзарядиться и справляться с неприятными ситуациями, лучше чувствовать свою интуицию.
                Спасибо! Жить стало значительно легче. Все хорошее только начинается))
            </p>
            <p class="author">Наталья Чакина, владелица тур-агентства, г. Тамбов</p>
        </div>
        <div class="review">
            <i class="fa fa-quote-right"></i>
            <p>Отзыв:Марина, спасибо Вам большое за великолепную индивидуальную коуч-сессию!
                Я задал конкретный запрос в отношении финансов и ожидал услышать несколько советов по достижению своей цели. Однако, я получил настоящую карту действий - что и как лучше делать. Я оказался в будущем и том состоянии, которого хочу добиться. Я понял, что иду в правильном направлении, выявил несколько новых ценностей, о которых и не подозревал!
                Так же я получил несколько отличных советов от себя же (только уже успешного) - благодаря этим советам я смогу все!
                Спасибо Вам большое за результат, душевность и открытость.
            </p>
            <p class="author">Иван Глухов, ведущий свадебных торжеств, участник проекта Сергея Граня «Инфобизнес», сопровождение бизнес-проектов клиента, г. Санкт-Петербург</p>
        </div>
    </div>
    <div class="schedule">
        <div class="wrapper link-block">
            <a href="#" class="btn toschedule scroll-to" data-target=".block16 .live">
                Перейти к расписанию тренингов
            </a>
        </div>
    </div>
</section>