<section class="block20"> <!-- Мамедова -->
    <div class="wrapper clr">
        <div class="photo-container">
            {% image '@IntegraBundle/Resources/public/assets/Index/images/photos/20-1.jpg' %}
                <img src="{{ asset_url }}" />
            {% endimage %}
        </div>
        <div class="about dovlatov">
            <h3>Нурида Мамедова</h3>
            <ul class="biography circle-marked">
                <li>Экономист и правовед</li>
                <li>Психолог, парапсихолог, целитель, биоэнерготерапевт</li>
                <li>Мастер НЛП</li>
                <li>Мастер целитель РЕЙКИ</li>
                <li>Тренер психологических тренингов</li>
                <li>Сертифицированный тренер ДИ</li>
                <li>Сертифицированный коуч ЗОЖ</li>
                <li>Фасилитатор Метода PSYCH-K (Сай–Кей)</li>
                <li>Процессор РПТ</li>
                <li>Практикующий коуч по Карме</li>
                <li>Вошла в энциклопедию «Женщины Азербайджана ХХ века» как «единственный специалист в республике, совмещающий в целительстве парапсихологию, биоэнергетику, лечение вируса синдрома хронической усталости, психологию, психоанализ, психосинтез, гипноз, метафизику, ясновидение».</li>
                <li>После 26 лет профессиональной деятельности психологом убедилась: Духовная интеграционика работает целостнее, быстрее, а значит, эффективнее.</li>
                <li>После ДИ-1 ее тело исцелилось от раковых метастаз.</li>
                <li>После ДИ-2 ушла жестокая боль в ногах и Нурида после 6-летнего перерыва снова надела туфли на каблуках.</li>
            </ul>
        </div>
        <!--		<div class="results">
                    <p>Профессиональные достижения:</p>
                    <ul class="check-marked">
                    </ul>
                </div>-->
        <div class="review">
            <i class="fa fa-quote-right"></i>
            <p>Данный курс коренным образом изменил мои взгляды на многие вещи, и соответственно изменил мою жизнь.
                Я зарядилась позитивом и стала больше любить людей и все окружающее меня. Мне стали понятны многие цепочки событий жизни, я стала чувствовать себя более удовлетворенным человеком. Я ощущаю счастье вокруг себя, научилась притягивать позитив и защищаться от негатива, как в мыслях, так и в реальной жизни. Я стала ценить многие вещи, которые доселе казались такими обыденными, а на самом деле я поняла, что это дар Бога и слава Богу, что они есть в моей жизни! Я научилась находить ответы на многие вопросы, могу дать объяснение многим жизненным ситуациям, и теперь я даже могу помочь некоторым людям изменить свои мысли и зарядить их позитивом.
                Я очень рада, что одна из тропинок моей жизни привела меня к этим знаниям и я их получила от Нуриды ханум.</br>
                Спасибо Вам Мастер! </p>
            <p class="author">Деля Карлен Сулейманова, Тай Вань. </p>
        </div>
        <div class="review">
            <i class="fa fa-quote-right"></i>
            <p>Искреннее человеческое спасибо, хочу выразить вам Нурида ханум, за ваш труд, за ваши лекции, за те знания, которые вы нам даете. Вот так мы и жили бы, как слепые котята и не видели бы всех красок жизни, если бы не эти лекции, семинары и сеансы по карме. Хочу воскликнуть на весь мир – люди, изучайте карму, очищайтесь, и результаты не заставят себя ждать. Я жила и уже не верила, что моя дочь когда-нибудь выйдет замуж, и я смогу увидеть ее счастливой и в белом платье. И вот это свершилось! Слава Богу, который направил нас на диагностику кармы, которая и показала, почему мою дочь преследовали неудачи в личной жизни. Оказывается, это были последствия ее предыдущей жизни. Слава Богу, теперь все позади. Я уже жду внучку! Даже не верится, какое счастье!
                Спасибо вам огромное, Нурида ханум, за ваш труд и терпение с нами.</p>
            <p class="author">Елена, Германия, Берлин. </p>
        </div>
        <div class="review">
            <i class="fa fa-quote-right"></i>
            <p>Для меня, конечно, главный результат, это то, что за эти 3 удивительных месяца со мной произошли такие изменения. То, о чем я мечтала 4 года (создание новой крепкой семьи) сформировалось и произошло в течение наших занятий - оформились отношения, мы стали жить вместе и как результат - это моя беременность. По-моему, это серьезный показатель.
            </p>
            <p class="author">Юлия </p>
        </div>
        <div class="review">
            <i class="fa fa-quote-right"></i>
            <p>Проблема: в отношениях с мамой</p>
            <p>ПОЛНОЕ изменение мировоззрения . Я перестала беспокоиться, переживать, метаться из стороны в сторону. Теперь перед собой я четко вижу путь, по которому я хочу идти.
                Тренинг просто замечательный и лично для меня жизненно необходимый.
                Вообще полное изменение сознания. Различные обиды, претензии, выяснения отношений, которые были в моей жизни раньше, кажутся мне теперь такими мелочными и ненужными, что больше не хочется пускать все это в свою жизнь опять. Оказывается, жизнь без всего этого намного приятней, проще, а главное – понятней.
                Я стала намного спокойнее и увереннее в себе.
                «Свет в конце тоннеля» теперь светит очень ярко и отчетливо.
                Теперь, просыпаясь утром, я выбираю радость и счастье.
                Изменения к лучшему начинаются сначала в душе человека благодаря его большим и упорным стараниям, и только потом к лучшему начнет меняться всё и все вокруг.
            </p>
            <p class="author">Галина</p>
        </div>
        <div class="review">
            <i class="fa fa-quote-right"></i>
            <p>Я понял очень многое в себе и в своей жизни. Сейчас я осознаю разницу между своими внешними проявлениями, привычками поведения, и внутренним существом. И я просто уверен, что в моих силах привести это в соответствие. Отношения с людьми становятся более определёнными. Я впервые понял, каким образом можно опираться на свои собственные мысли и ощущения.
                Я считал, что принимаю ситуацию, но после первого упражнения, осознал, что я её просто терплю. Я делал это упражнение несколько раз и могу сказать, что теперь я действительно понимаю и чувствую, что значит "принятие ситуации". Я больше не обижаюсь на Судьбу, не говоря уже об отдельных людях.
            </p>
            <p class="author">Алексей</p>
        </div>
        <div class="review">
            <i class="fa fa-quote-right"></i>
            <p>Изменения в том, что уверенность в себе выросла на 100%, уходит беспокойство, контроль над миром, ситуацией, появляется смирение -  на всё воля Божья.
                Главный результат в том, что осознала самою себя и приняла себя, поэтому и люди стали относиться ко мне по-другому.
                Тренинг дал очень много информации к изменениям в жизни, открыл для меня программы, над которыми надо ещё работать. </p>
            <p class="author">Ирина</p>
        </div>
    </div>
    <div class="schedule">
        <div class="wrapper link-block">
            <a href="#" class="btn toschedule scroll-to" data-target=".block16 .live">
                Перейти к расписанию тренингов
            </a>
        </div>
    </div>
</section>