<section class="block2">
    <h1>Выберите подходящего тренера и освойте <br> духовную интеграционику за 3 дня</h1>
    <!-- <div class="selection-trainer">
        <p>Выбрать тренера</p>
    </div> -->
    <a href="#" class="sign-up scroll-to" data-target=".block12 h3">Выбрать тренера</a>
</section>