<section class="block5">
    <div class="wrapper">
        <h4><span class="bold">Вот как работают реинтеграции. </span><br> Представьте, что сможете делать так когда угодно</h4>
        <div class="video">
            <iframe width="620" height="430" src="http://zews.software-dowlatow.ru/mediaembed/cqB0O2QTa91435061421" frameborder="0" allowfullscreen></iframe>
        </div>
    </div>
</section>