<section class="block3">
    <div class="wrapper">
        <div class="text">
            <h4>Если считаете себя обычным человеком, вы себя обманываете</h4>
            <p>У вас изначально, с самого рождения есть все ресурсы, таланты и способности, необходимые для построения яркой и счастливой жизни.</p>
            <p>Даже если вы вроде как обычный человек. И как ни пытались, не нашли в себе ничего особенного.</p>
            <p>Все эти ресурсы спят глубоко в вашем подсознании и лишь время от времени вырываются наружу. И тогда вы чувствуете себя сильным, полным энергии. У вас всё получается, трудные задачи щёлкаете как орешки и вообще вы на высоте.</p>
            <p>Так бывает не всегда. Кажется, что это происходит случайно. Потому что вы хорошо выспались, на вас действует солнечная погода, музыка завела и т.д.</p>
        </div>
    </div>
</section>