<section class="block17"> <!-- Довлатов -->
    <div class="wrapper">
        <div class="photo-container">
            {% image '@IntegraBundle/Resources/public/assets/Index/images/photos/18-1.jpg' %}
                <img src="{{ asset_url }}" alt="Example" />
            {% endimage %}
        </div>
        <div class="about dovlatov">
            <h3>Константин Довлатов</h3>
            <ul class="biography circle-marked">
                <li>Автор тренинга "Духовная Интеграционика"</li>
                <li>Кандидат психологических наук</li>
                <li>Cоздатель Центра инновационных коучинговых технологий</li>
                <li>Член Общероссийской Профессиональной Психотерапевтической Лиги</li>
                <li>Мастер мгновенных изменений</li>
                <li>За 6 месяцев увеличил свой доход в 50 раз (участники его тренингов достигают 2-5 кратного увеличения денежного потока)</li>
                <li>С помощью его методик более 10 000 человек решили «нерешаемые» проблемы в бизнесе, финансах, отношениях и здоровье</li>
            </ul>
        </div>
        <div class="review">
            <i class="fa fa-quote-right"></i>
            <p>Дорогой Константин Довлатов, пишу Вам чтоб выразить свое глубокое чувство благодарности за ту деятельность которую Вы ведете, за ту работу, которая не просто лечит людей, она возвращает к жизни, к настоящей.</p>
            <p>Я не знала об этом, пока не стала работать с Вашим студентом  Коучшколы-Илюшиной Ириной.Это чудесный человек. Видимо пока слышат Вас такие люди. Но самое главное Вы и Ваши ученики транслируете в мир супер методики и техники, которые реально работают и дают результат. Я много перепробовала, начиная от религии(даже ходила в разные храмы, слушала себя, правда это было очень давно) до йоги. Но реальный результат я вижу от Ваших работ. Вчера изрыдалась на очередной сессии (по картам) , но самое главное я почувствовала, что раньше я жила как-будто без ног, без рук, с закрытом ртом, в висячем положении, представляете сколько мне надо было усилий, чтоб что-то сделать и чего-то добиться.Я просто была в шоке. Я понимаю, что еще надо работать, но какое счастье, что Вы есть и через Вас есть "ВЫХОД". Вы как светлячок, который светясь показывает путь к свету. Я благодарю Вас от всей души, дай бог Вам всего того, что нужно Вам для Вашей реализации.</p>
            <p class="author">Инкогнито</p>
        </div>
        <div class="review">
            <i class="fa fa-quote-right"></i>
            <p>Болею гриппом уже 2-й раз в феврале, одолел насморк. Прослушала эту реинтеграцию 3 раза за этотвечер. . и... перед сном замечаю, что неожиданно насморк практически исчез, хотя я думала, чтоэто на неделю. Вот оно: истинное наслаждение - нормально дышать без всяких каплей!!!</p>
            <p>Благодарю Константина и Команду!</p>
            <p class="author">Anna-Art Vlasova</p>
        </div>
        <div class="review">
            <i class="fa fa-quote-right"></i>
            <p>Год назад была в отчаянии и жизнь казалась бегом по кругу страданий и безысходности... И вот в один прекрасный день подруга прислала ссылку на вебинар Константина Довлатова,с этого момента все изменилось: я услышала глас свыше,:- нужно действовать,хотеть мало! Тут же записалась на РПТ 1-2 и прошла его. Это дало мне очень много,я поверила снова в чудеса,стала чувствовать себя,получила инструмент для проработки своих травм... Но почувствовала,что этого не достаточно,оставалось много вопросов, на многие из них я получила ответ в вебинарах,курсах и конечно 100-дневке и Клубе Константина Николаевича! Кем я была: мамой, домохозяйкой,номинальной женой(замученной ,уставшей,потерявшей надежду изменить негативное отношение мужа,втиснутой в рамки обязанностей и претензий-упреков). Кто Я сейчас: уверенная в себе,готовая начать свой бизнес,знающая свою цель и уверенно идущую к ней,мама,дающая детям свободу и веру в себя,человек,имеющий границы и умеющий видеть истину за маской в других... много чего,что я получила благодаря Реинтеграциям и урокам. Перекраска чакр дала мне возможность мгновенно восстанавливать энергию,чтобы дарить ее всем,кто в ней нуждается,чтобы быть наполненной и цельной. Сейчас я работаю над снятием масок,начинаю понимать насколько они отравляли мне жизнь. Благодарю от всей Души Константина Николаевича и всех,кто вкладывается на 100% ради таких как я!!! Это
                невозможно переоценить!!!
            <p>И еще,так сложилось,что мы с мужем расстались,но я почувствовала не свою боль,а его,мне было ужасно причинять Ему боль,Душа страдала! Я пожелала ему от всей Души счастья с той,кто даст ему все для этого... и тут произошло ЧУДО! Боль прошлого,всего что вызывало слезы при одном только воспоминании, ушла,просто ее не стало! Я стала вспоминать,но смогла только отметить несколько моментов,которые еще помнила и то они показались незначительными,как будто не из моей жизни! Не знаю что произошло,видимо я смогла осознанно воспринять эту ситуацию и это помогло мне проработать,то,что казалось будет мучать еще долго!</p>
            Сегодня у меня День Рождения и я чувствую,что жизнь только начинается! Этого бы не было,если бы не Константин Довлатов!</p>
            <p>Благодарю от всей Души и бесконечно!!!!!!!! Удачи и процветания Вам и Команде!!!</p>
            <p class="author">Юлия Ли</p>
        </div>
        <div class="review">
            <i class="fa fa-quote-right"></i>
            <p>Доброе утро! Зовут меня Наталья. В 100-древке я с первого дня, случайно в инете увидела анонс этой программы и подписалась, хоть и срашновато было, но любопытство победило. Случайно.... Говорят, что случайности не случайны! Потом- 2 месяца в клубе. И завертелось...
            <p>Ну обо всём по порядку. Так уж получилось, что в августе 2014 года я вместе с дочерью переехала из Украины в Россию.Переехала не из-за страха войны( на тот момент в нашем городе было ещё спокойно), а больше по настоянию родственников, которые очень за нас волновались.Мы с дочерью одни жили в Украине, а все родственников России.Переехали... И сразу всё пошло вверх дном. С родственниками отношения не заладились, работы, которая могла бы меня обеспечивать не было, с жильём тяжело, тяжёлая адаптация дочери к новой жизни, новой школе.Я безумно скучала по той жизни, которой я жила.</p>
            <p> В этот момент и появилась 100-древка. Потом-клуб.На первый месяц в клубе у меня ушли все мои скромные сбережения.За то какая отдача... Результат я заметила на дочери. Изумительно! Реинтеграции слушать я ей не давала, но она стала меняться! Успокоилась, перестала бояться, передружилась с ребятами в классе. Потом я начала замечать перемены в себе. Ушла неуверенность в себе, закончились колебания перед принятием важных решений, которые мучали меня всю мою сознательную жизнь. Сейчас я вижу цель и просто иду к ней, без страха, без колебаний, с верой в свой успех!</p>
            <p>Итог:перестала оглядываться в прошлую жизнь, решила вопрос с жильём, нашла работу, увеличила доход, наладила отношения с родственниками! У меня теперь есть твердая уверенность в том, что в моей жизни и дальше будут происходить хорошие перемены! Хочу поблагодарить Константина и всю команду за ваш труд. Вы делаете очень хорошее дело- возвращаете людей к жизни и даёте надежду.Все, кто прочитают мой комментарий, продолжайте заниматься и приводите с собой тех, кто заблудился в жизни!Так они смогут найти выход из тупика. Спасибо всем!</p>
            <p class="author">Наталья</p>
        </div>
    </div>
    <div class="schedule">
        <div class="wrapper link-block">
            <a href="#" class="btn toschedule scroll-to" data-target=".block16 .live">
                Перейти к расписанию тренингов
            </a>
        </div>
    </div>
</section>