<section class="footer">
    <div class="menu-container">
        <ul class="menu">
            <li><a class="scroll-to" data-target=".block1">Что такое ДИ</a></li>
            <li><a class="scroll-to" data-target=".block5">Как это работает</a></li>
            <li class="up"><a class="scroll-to" data-target=".header">Вверх</a></li>
            <li><a class="scroll-to" data-target=".block9 .wrapper">ДИ-1</a></li>
            <li><a class="scroll-to" data-target=".block12 h3">Тренеры</a></li>
            <li><a class="scroll-to" data-target=".footer">Контакты</a></li>
        </ul>
    </div>
    <div class="clr"></div>
    <div class="contacts">
        <p class="bold support">Служба поддержки</p>
        <p><a href="mailto:support@dowlatow.ru">support@dowlatow.ru</a></p>
        <p>8-800-301-00-77</p>
        <p>8-499-301-00-77</p>
    </div>
</section>