<div class="header">
    <div class="block-left">
        <div class="text">
            <div class="logo">
                {% image '@IntegraBundle/Resources/public/assets/Index/images/logo.png' %}
                    <img src="{{ asset_url }}" alt="logo" />
                {% endimage %}
            </div>
            <h2>Духовная <br> Интеграционика</h2>
            <p>Откройте в себе скрытые ресурсы и способности и научитесь их использовать на 110%</p>
            <ul>
                <li>Получите простую и практичную технологию быстрого исправления того, что в вашей жизни идёт не так</li>
                <li>Не нужны 5-7-часовые сеансы психотерапии</li>
                <li>Технология совершенно безопасна</li>
                <li>Эффективность подтверждена неоднократными научными исследованиями</li>
            </ul>
        </div>
        <div class="icon-bottom">
            <a href="#" class="scroll-to" data-target=".block1">
                {% image '@IntegraBundle/Resources/public/assets/Index/images/icon-header.png' %}
                    <img src="{{ asset_url }}" alt="Example" />
                {% endimage %}
            </a>
        </div>
    </div>

    <div class="block-right">
        <div class="text">
            <h5>Ближайшие тренинги </h5><br>
            <!--		<div class="icon">
                        <i class="fa fa-star"></i>
                    </div>-->

            <div class="city">
                <a href="javascript:void(0)" class="scroll-to" data-target=".block16 .live">Москва</a>
                <div class="icon">
                    <i class="fa fa-star"></i>
                </div>
            </div>
            <div class="city">
                <a href="javascript:void(0)" class="scroll-to" data-target=".block16 .live">Саратов</a>
                <div class="icon">
                    <i class="fa fa-star"></i>
                </div>
            </div>
            <div class="city">
                <a href="javascript:void(0)" class="scroll-to" data-target=".block16 .live">Иркутск</a>
                <div class="icon">
                    <i class="fa fa-star"></i>
                </div>
            </div>
            <div class="city">
                <a href="javascript:void(0)" class="scroll-to" data-target=".block16 .live">Москва</a>
                <div class="icon">
                    <i class="fa fa-star"></i>
                </div>
            </div>
            <div class="city">
                <a href="javascript:void(0)" class="scroll-to" data-target=".block16 .live">Краснодар</a>
                <div class="icon">
                    <i class="fa fa-star"></i>
                </div>
            </div>
            <div class="city">
                <a href="javascript:void(0)" class="scroll-to" data-target=".block16 .live">	Ростов-на-Дону</a>
                <div class="icon">
                    <i class="fa fa-star"></i>
                </div>
            </div>
            <!--<p class="data">19-21 февраля</p>
                <p class="name">Эльмира Довлатова (Сафиуллина)</p>
                <div class="city">
                <a href="javascript:void()" class="scroll-to" data-target=".block16 .live">Тюмень</a>
                    <div class="icon">
                    <i class="fa fa-star"></i>
            </div>-->
        </div>
        <a href="#" class="btn toschedule scroll-to" data-target=".live">
            Перейти к полному расписанию
        </a>
    </div>
    <div style="clear:both"></div>
</div>